@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins:wght@700&family=Roboto:wght@700&family=Water+Brush&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
}


.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(assets/intro-bg.jpg) no-repeat;
    background-position: top center;
    background-size: contain;
    height: 100vh;
    margin-bottom: 100px;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;


        h1 {
            font-family: 'Poppins', sans-serif;
            font-size: calc(3rem + 3vw);
            margin: 10px;
        }

        h2 {
            font-family: 'Orbitron', sans-serif;
            color: rgb(206, 54, 43);
            text-transform: uppercase;
            text-shadow: -1px 2px 4px rgb(204, 204, 204);
            letter-spacing: 1px;
            font-size: 3rem;
            margin: 10px;
        }

        h3 {
            font-family: 'Roboto', sans-serif;
            font-weight: bolder;
            color: rgb(206, 54, 43);
            font-size: 2.5rem;
            margin: 10px;
        }

        button {
            background: rgba(255, 255, 255, 0.31);
            border: 1px solid #fff;
            color: #313131;
            font-weight: bold;
            font-size: 1.5rem;
            padding: 20px 30px;
            margin-top: 50px;
            transition: all .5s ease-in-out;
        }

        button:hover {
            background: #fff;
            color: black;
        }
    }
}



.about {
    background: linear-gradient(to bottom, black, #272727);
    display: flex;
    width: 100vw;
    max-width: 100%;

    .container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100vw - 300px);
        max-width: 100%;
        height: 500px;
        border: 2px solid #3b3b3b;
        box-shadow: -5px 5px 10px black;
        margin: auto;
        padding: 30px;

        h1 {
            position: relative;
            font-family: 'Water Brush', sans-serif;
            font-size: 6rem;
            margin-bottom: 20px;
            z-index: 2;
        }

        .pseudo-h1 {
            position: absolute;
            top: 5%;
            left: 0;
            color: rgba(43, 42, 42, 0.507);
            font-size: 10rem;
            font-family: 'Water Brush', sans-serif;
        }

        .about-group1 {
            padding: 50px;
        }
    }
}


.contact {
    background: #272727;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    padding: 50px 80px;


    .group1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px;
        padding: 0 80px;

        h1 {
            font-family: 'Water Brush', sans-serif;
            font-size: 6rem;
            margin: 20px;
        }

        p {
            text-align: center;
        }
    }


    .group2 {
        display: flex;
        margin: 50px;
 

        .icon {
            fill: #fff;
            width: 80px;
        }
    }
}



.projects {
    background: linear-gradient(to top, black, #272727);
    display: flex;
    width: 100vw;
    max-width: 100%;

    .container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100vw - 300px);
        max-width: 100%;
        height: 500px;
        border: 2px solid #3b3b3b;
        box-shadow: -5px 5px 10px black;
        margin: auto;
        padding: 30px;

        h1 {
            position: relative;
            font-family: 'Water Brush', sans-serif;
            font-size: 6rem;
            margin-bottom: 20px;
            z-index: 2;
        }

        .pseudo-h1 {
            position: absolute;
            top: 5%;
            left: 5%;
            color: rgba(43, 42, 42, 0.507);
            font-size: 10rem;
            font-family: 'Water Brush', sans-serif;
        }

        .about-group1 {
            padding: 50px;
        }
    }
}