@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins:wght@700&family=Roboto:wght@700&family=Water+Brush&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #ecf0f3;
  --font-color: #6e6e6e;
  --color-dark-shadow: #d3dae7;
  --color-white: #fff;
  --box-shadow: 1rem 1rem 1rem var(--color-dark-shadow),
  -1rem -1rem 1rem var(--color-white);
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background: var(--bg-color);
  color: #fff;

  a {
    color: inherit;
    text-decoration: none;
  }

  & p {
    font-size: 1.3rem;
  }
}

.container {
  transition: box-shadow .1s;
}

.container:hover {
  box-shadow: var(--box-shadow);
}

/* START OF HERO SECTION */
.hero {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 90vw;
  margin-top: 50px;
  border-radius: 50px;
  transition: all 1.5s ease-in-out;

  & .cloud {
    position: absolute;
    opacity: 0.7;
    width: 100%;
    right: -200%;
    transform: translateZ(-1px) scale(1.5);
    animation: moveToLeft 25s linear infinite;
  }

  & .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    & h1 {
      font-family: "Poppins", sans-serif;
      font-size: calc(2.5rem + 3vw);
      margin: 10px;
      text-align: center;
    }

    & h2 {
      font-family: "Orbitron", sans-serif;
      color: rgb(206, 54, 43);
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 2.5rem;
      margin: 10px;
      padding: 20px 60px;
      text-align: center;
      border-radius: 50px;
      box-shadow: var(--box-shadow);
      /* opacity: 0;
      transform: translateY(100%);
      animation: slideUp .7s ease forwards;
      animation-delay: 3s; */
    }

    & h3 {
      font-family: "Roboto", sans-serif;
      font-weight: bolder;
      color: rgb(206, 54, 43);
      font-size: 2.5rem;
      margin: 10px;
    }

    & .icon-wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 50px;
      padding: 20px;
      gap: 20px;
      width: 100%;
  
      & li {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bg-color);
        box-shadow: var(--box-shadow);
        list-style: none;
        border-radius: 50%;
        margin: 10px;
        width: 3.5rem;
        height: 3.5rem;
        transition: box-shadow .5s;
      }
  
      & li:hover {
        box-shadow: 0 0 transparent;
      }
  
      .icon {
        color: var(--font-color);
        font-size: 1.5rem;
      }
    }
  }

  /* MOON */
  & .moon {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #fff;
    box-shadow: 0px 0px 50px #ffffffc7;
    border-radius: 50%;
    overflow: hidden;
    right: 0;
    top: 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    transition: 1.5s ease-in-out;

    & span {
      position: absolute;
    }

    & span:nth-child(1) {
      content: "";
      width: 20px;
      height: 20px;
      background-color: rgba(128, 128, 128, 0.329);
      border-radius: 50%;
      top: 10%;
      left: 50%;
    }

    & span:nth-child(2) {
      content: "";
      width: 40px;
      height: 40px;
      background-color: rgba(128, 128, 128, 0.329);
      border-radius: 50%;
      bottom: 10%;
      right: 5%;
    }

    & span:nth-child(3) {
      content: "";
      width: 15px;
      height: 15px;
      background-color: rgba(128, 128, 128, 0.329);
      border-radius: 50%;
      top: 30%;
      left: 10%;
    }

    & span:nth-child(4) {
      content: "";
      width: 25px;
      height: 25px;
      background-color: rgba(128, 128, 128, 0.329);
      border-radius: 50%;
      bottom: 5%;
      left: 0;
    }
  }

  /* SUN */
  & .moon.sun {
    background: #fdf03a;
    transition: 1.5s ease-in-out;

    & span {
      background: transparent;
    }
  }

  & .see-more {
    z-index: 9;
  }

  & .toggle-theme {
    position: fixed;
    background: #50cde9;
    border: none;
    box-shadow: 0px 3px 3px gray;
    right: 10%;
    bottom: 10%;
    width: 80px;
    height: 30px;
    z-index: 999;
    transition: all 0.4s ease;
  }

  & .toggle-theme:active {
    background: #018aa8;
    transform: translateY(5px);
    box-shadow: -1px 1px 3px gray;
  }

  & .stars {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  & .star-dot {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: white;
    border-radius: 50%;
    animation: twinkle 2s infinite;
  }
}

/* END OF HERO SECTION */

/* LIGHT THEME FOR HERO */
.hero.light {
  background: var(--bg-color);
  position: relative;
  color: var(--font-color);
  transition: all 0.7s ease-in-out;

  & .stars {
    display: none;
  }

  & h3 {
    color: rgb(101 101 101);
  }

  & h2 {
    color: #00569b;
    transition: 0.8s ease-in-out;

    &::before, &::after {
      background: #3f51b5;
    }
  }

  & .see-more {
    background: #fff;
    color: #2196f3;
    border: 1px solid #ccc;
  }
}
/* END OF LIGHT THEME FOR HERO */

/* START OF ABOUT SECTION */
.about {
  background: linear-gradient(to bottom, #1e314f, #1e314f, #272727);
  display: flex;
  width: 100vw;
  max-width: 100%;
  padding-top: 100px;
  z-index: 1;

  & .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    margin: auto;
    padding: 30px;
    overflow: hidden;

    & h1 {
      position: relative;
      font-family: "Water Brush", sans-serif;
      font-size: 8rem;
      margin-bottom: 20px;
      z-index: 2;
      text-align: center;
    }

    & .about-group1 {
      display: flex;
      flex-direction: column;
      align-items: center;
    
      & p {
        box-shadow: var(--box-shadow);
        border-radius: 20px;
        padding: 15px 50px;
        transition: box-shadow .5s;
      }

      & p:hover {
        box-shadow: 0 0 transparent;
      }
    }
  }
}

.about.light {
  background: var(--bg-color);
  color: var(--font-color);

  & .container {
    color: #565656;
  }
}
/* END OF ABOUT SECTION */

/* START OF CONTACT SECTION */
.contact {
  background: #272727;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  padding: 50px 80px;

  & .group1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 80px;

    & h1 {
      font-family: "Water Brush", sans-serif;
      font-size: 6rem;
      margin: 20px;
      text-align: center;
    }

    & p {
      text-align: center;
    }
  }

  & .icon-wrapper {
    display: flex;
    padding: 30px;
    margin: 50px;

    & li {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--bg-color);
      box-shadow: var(--box-shadow);
      list-style: none;
      border-radius: 50%;
      margin-right: 25px;
      width: 3.5rem;
      height: 3.5rem;
      transition: box-shadow .5s;
    }

    & li:hover {
      box-shadow: 0 0 transparent;
    }

    .icon { 
      color: var(--font-color);
      font-size: 1.8rem;
    }
  }
}

.contact.light {
  background: var(--bg-color);
  color: var(--font-color);
}
/* END OF CONTACT SECTION */

/* START OF PROJECT SECTION */
.projects {
  background: #272727;
  display: flex;
  width: 100vw;
  max-width: 100%;

  & .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    max-width: 100%;
    height: auto;
    color: #fff;
    border-radius: 20px;
    margin: auto;
    padding: 30px 20px;
    overflow: hidden;

    & h1 {
          position: relative;
          font-family: "Water Brush", sans-serif;
          font-size: 8rem;
          margin-bottom: 20px;
          text-align: center;
          z-index: 2;
        }

    & .project-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
      grid-template-rows: 1fr 1fr;
      gap: 30px;
      width: 100%;


      & .project-item {
        width: 100%;
        height: 100%;
        border: 1px solid rgba(138, 138, 138, 0.659);
        box-shadow: var(--box-shadow);
        border-radius: 20px;
        padding: 15px 30px;
        transition: all .5s;
      }

      & .project-item:hover {
        border: none;
        box-shadow: 0 0 transparent;
      }
    }
  }
}

.projects.light {
  background: var(--bg-color);
  color: var(--font-color);

  & .container {
    color: #565656;
  }
}
/* END OF PROJECT SECTION */

/* START OF BLOG SECTION */
.blog {
  background: #272727;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  padding: 50px 80px;

  & .group1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    padding: 0 80px;

    & h1 {
      font-family: "Water Brush", sans-serif;
      font-size: 6rem;
      margin: 20px;
      text-align: center;
    }

    & p {
      text-align: center;
    }
  }
}

.blog.light {
  background: var(--bg-color);
  color: var(--font-color);
}
/* END OF BLOG SECTION */

/* ANIMATIONS */

@keyframes twinkle {
  0% {
    opacity: 0.8;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes stretch {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes slideUp {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fly {
  from {
    left: -100px;
  }
  to {
    top: 10%;
    left: 110%;
  }
}

@keyframes moveToLeft {
  from {
    right: -200%;
  }
  to {
    right: 200%;
  }
}

@media only screen and (max-width: 1024px) {
  .about .container h1,
  .contact .group1 h1,
  .projects .container h1,
  .blog .group1 h1 {
    font-size: 5rem;
  }

  .hero .content h2 {
    font-size: 1.3rem;
  }

  .hero .content .icon-wrapper {
    gap: 10px;
    margin: 10px;
}

  .hero .content .icon-wrapper li {
  width: 2.5rem;
  height: 2.5rem;
}

.contact .icon-wrapper li {
  width: 3rem;
  height: 3rem;
  margin: 10px;
}

.contact .icon-wrapper .icon {
  font-size: 1.5rem;
}

  .toggleWrapper {
    top: 0;
    left: 0;
  }
}

/* THEME TOGGLE BUTTON */
.toggleWrapper {
  position: absolute;
  top: 5%;
  left: 5%;
  overflow: hidden;
  padding: 0 50px;
  margin-top: 50px;
  color: var(--font-color);
  z-index: 999;
}
.toggleWrapper input {
  position: absolute;
  left: -99em;
}

.toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 90px;
  height: 50px;
  background-color: #83d8ff;
  border: 1px solid #fff;
  border-radius: 84px;
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.toggle:before {
  content: "AM";
  position: absolute;
  left: -50px;
  top: 15px;
  font-size: 18px;
}
.toggle:after {
  content: "PM";
  position: absolute;
  right: -48px;
  top: 15px;
  font-size: 18px;
}

.toggle__handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 2px;
  left: 3px;
  width: 44px;
  height: 44px;
  background-color: #ffcf96;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-45deg);
}
.toggle__handler .crater {
  position: absolute;
  background-color: #e8cda5;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  border-radius: 100%;
}
.toggle__handler .crater--1 {
  top: 18px;
  left: 10px;
  width: 4px;
  height: 4px;
}
.toggle__handler .crater--2 {
  top: 28px;
  left: 22px;
  width: 6px;
  height: 6px;
}
.toggle__handler .crater--3 {
  top: 10px;
  left: 25px;
  width: 8px;
  height: 8px;
}

.star {
  position: absolute;
  background-color: #ffffff;
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50%;
}

.star--1 {
  top: 10px;
  left: 35px;
  z-index: 0;
  width: 30px;
  height: 3px;
}

.star--2 {
  top: 18px;
  left: 28px;
  z-index: 1;
  width: 30px;
  height: 3px;
}

.star--3 {
  top: 27px;
  left: 40px;
  z-index: 0;
  width: 30px;
  height: 3px;
}

.star--4,
.star--5,
.star--6 {
  opacity: 0;
  transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.star--4 {
  top: 16px;
  left: 11px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}

.star--5 {
  top: 32px;
  left: 17px;
  z-index: 0;
  width: 3px;
  height: 3px;
  transform: translate3d(3px, 0, 0);
}

.star--6 {
  top: 36px;
  left: 28px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}

input:checked + .toggle {
  background-color: #749dd6;
}
input:checked + .toggle .toggle__handler {
  background-color: #ffe5b5;
  transform: translate3d(40px, 0, 0) rotate(0);
}
input:checked + .toggle .toggle__handler .crater {
  opacity: 1;
}
input:checked + .toggle .star--1 {
  width: 2px;
  height: 2px;
}
input:checked + .toggle .star--2 {
  width: 4px;
  height: 4px;
  transform: translate3d(-5px, 0, 0);
}
input:checked + .toggle .star--3 {
  width: 2px;
  height: 2px;
  transform: translate3d(-7px, 0, 0);
}
input:checked + .toggle .star--4,
input:checked + .toggle .star--5,
input:checked + .toggle .star--6 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
input:checked + .toggle .star--4 {
  transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
input:checked + .toggle .star--5 {
  transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
input:checked + .toggle .star--6 {
  transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
