@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins:wght@700&family=Roboto:wght@700&family=Water+Brush&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #ecf0f3;
  --dark-bg-color: #474747;
  --dark-box-shadow: 1rem 1rem 1rem #0c0909, -1rem -1rem 1rem #3c3b3b;
  --font-color: #6e6e6e;
  --color-dark-shadow: #d3dae7;
  --color-white: #fff;
  --box-shadow: 1rem 1rem 1rem var(--color-dark-shadow),
    -1rem -1rem 1rem var(--color-white);
  --inset: inset 0 0 1rem #d3dae7;

}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background: var(--bg-color);

  a {
    color: inherit;
    text-decoration: none;
  }

  & p {
    font-size: 1.2rem;
  }
}

body.dark {
  background: var(--dark-bg-color);
  color: var(--color-white);

  .hero {
    box-shadow: var(--dark-box-shadow);

    .content {
      h3, h2 {
        color: var(--color-white);
      }

      h2 {
        box-shadow: var(--dark-box-shadow);
      }

      .icon-wrapper li {
        box-shadow: var(--dark-box-shadow);

        &:hover {
          box-shadow: 0 0 transparent;
        }
      }
    }
  }

  .about {
    
    .container {

      p {
        box-shadow: var(--dark-box-shadow);
      }
    }
  }

  .contact {
    color: var(--color-white);

    .icon-wrapper li {
      box-shadow: var(--dark-box-shadow);

      .icon {
        color: var(--color-white)
      }

      &:hover {
        box-shadow: 0 0 transparent;
      }
    }
  }

 .about, .projects {
    box-shadow: var(--dark-box-shadow);
    color: var(--color-white);

    .container {

      .project-wrapper .project-item {
        box-shadow: var(--dark-box-shadow);
      }

      .project-item:hover {
        box-shadow: 0 0 transparent;
      }
    }
  }

  .blog {
    color: var(--color-white)
  }

  .container {
    transition: box-shadow 0.3s;
  }
  
  .container:hover {
    box-shadow: var(--dark-box-shadow);
  }
}

.container {
  transition: box-shadow 0.3s;
}

.container:hover {
  box-shadow: var(--box-shadow);
}

/* START OF HERO SECTION */
.hero {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
  width: 90vw;
  margin-top: 20px;
  border-radius: 50px;
  color: inherit;
  box-shadow: var(--box-shadow);
  transition: all 0.7s;

  & .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    & h1 {
      font-family: "Poppins", sans-serif;
      font-size: calc(2rem + 3vw);
      margin: 10px;
      text-align: center;
    }

    & h2 {
      font-family: "Orbitron", sans-serif;
      color: var(--font-color);
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 2.5rem;
      margin: 10px;
      padding: 20px 60px;
      text-align: center;
      border-radius: 50px;
      box-shadow: var(--box-shadow);
    }

    & h3 {
      font-family: "Roboto", sans-serif;
      font-weight: bolder;
      color: var(--font-color);
      font-size: 1.5rem;
      margin: 10px;
    }

    & .icon-wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 50px;
      padding: 20px;
      gap: 20px;
      width: 100%;

      & li {
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: var(--box-shadow);
        list-style: none;
        border-radius: 50%;
        margin: 10px;
        width: 3.5rem;
        height: 3.5rem;
        transition: box-shadow 0.5s;
      }

      & li:hover {
        box-shadow: 0 0 transparent;
      }

      .icon {
        color: inherit;
        font-size: 1.5rem;
      }
    }
  }
}

/* END OF HERO SECTION */

/* START OF ABOUT SECTION */
.about {
  display: flex;
  width: 100vw;
  max-width: 100%;
  padding: 40px;
  margin-top: 30px;
  color: var(--font-color);
  box-shadow: var(--inset);

  & .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    margin: auto;
    padding: 30px;

    & h1 {
      position: relative;
      font-family: "Water Brush", sans-serif;
      font-size: 8rem;
      margin-bottom: 20px;
      z-index: 2;
      text-align: center;
    }

    & .about-group1 {
      display: flex;
      flex-direction: column;
      align-items: center;

      & p {
        box-shadow: var(--box-shadow);
        border-radius: 20px;
        padding: 15px;
        transition: box-shadow 0.5s;
      }

      & p:hover {
        box-shadow: 0 0 transparent;
      }
    }
  }
}
/* END OF ABOUT SECTION */

/* START OF CONTACT SECTION */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  padding: 50px 80px;
  color: var(--font-color);

  & .group1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 80px;

    & h1 {
      font-family: "Water Brush", sans-serif;
      font-size: 6rem;
      margin: 20px;
      text-align: center;
    }

    & p {
      text-align: center;
    }
  }

  & .icon-wrapper {
    display: flex;
    padding: 30px;
    margin: 50px;

    & li {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: inherit;
      box-shadow: var(--box-shadow);
      list-style: none;
      border-radius: 50%;
      margin-right: 25px;
      width: 3.5rem;
      height: 3.5rem;
      transition: box-shadow 0.5s;
    }

    & li:hover {
      box-shadow: 0 0 transparent;
    }

    .icon {
      color: var(--font-color);
      font-size: 1.8rem;
    }
  }
}
/* END OF CONTACT SECTION */

/* START OF PROJECT SECTION */
.projects {
  display: flex;
  width: 100vw;
  max-width: 100%;
  padding: 40px;
  color: var(--font-color);
  box-shadow: var(--inset);

  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    margin: auto;
    padding: 30px;

    & h1 {
      font-family: "Water Brush", sans-serif;
      font-size: 8rem;
      margin: 25px 0;
    }

    & .project-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
      grid-template-rows: 1fr 1fr;
      gap: 30px;
      width: 100%;

      & .project-item {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        border: 1px solid rgba(138, 138, 138, 0.1);
        box-shadow: var(--box-shadow);
        border-radius: 20px;
        padding: 30px;
        transition: all 0.5s;

        & h1 {
          font-family: "Poppins", sans-serif;
          font-size: 3rem;
          margin: 25px 0;
        }

        & .img-wrapper {
          align-self: center;
          width: 100%;

          & img {
            width: 100%;
            object-fit: cover;
          }
        }

        & button {
          background: none;
          margin: 30px 0;
          padding: 15px;
          width: 150px;
          border: none;
          border-radius: 20px;
          box-shadow: var(--box-shadow);
          cursor: pointer;
          transition: .5s;

          span {
            transform: translateX(100%);
          }

          &:hover {
            background: var(--dark-bg-color);
            color: var(--color-white);
          }
        }

        & .project-icon-wrapper {
          display: flex;
          list-style: none;
          margin: 20px 0;

          li {
            margin-right: 20px;

            i {
              font-size: 1.5rem;
            }
          }
        }
      }

      & .project-item:hover {
        border: none;
        box-shadow: 0 0 transparent;
      }
    }
  }
}
/* END OF PROJECT SECTION */

/* START OF BLOG SECTION */
.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  padding: 50px 80px;
  color: var(--font-color);

  & .group1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    padding: 0 80px;

    & h1 {
      font-family: "Water Brush", sans-serif;
      font-size: 6rem;
      margin: 20px;
      text-align: center;
    }

    & p {
      text-align: center;
    }
  }
}
/* END OF BLOG SECTION */

/* ANIMATIONS */
@keyframes slideUp {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1024px) {
  
  body.dark {
    .container {
      box-shadow: none;

      &:hover {
        box-shadow: none;
      }
    }
  }

  .switch {
    top: 0 !important;
  }

  .about,
  .projects {
    padding: 10px;
  }

  .about .container,
  .projects .container {
    padding: 15px;
  }

  .hero.container, .container:hover {
    box-shadow: none;
  }

  .about .container h1,
  .contact .group1 h1,
  .projects .container h1,
  .blog .group1 h1 {
    font-size: 3.9rem;
  }

  .hero .content h2 {
    font-size: 1.2rem;
  }

  .hero .content .icon-wrapper {
    gap: 10px;
    margin: 10px;
  }

  .hero .content .icon-wrapper li {
    width: 2.5rem;
    height: 2.5rem;
  }

  .contact .icon-wrapper li {
    width: 3rem;
    height: 3rem;
    margin: 10px;
  }

  .contact .icon-wrapper .icon {
    font-size: 1.5rem;
  }

  .projects .container .project-wrapper .project-item {
    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }
  }
}

/* THEME TOGGLE BUTTON */
.switch {
  position: absolute;
  display: inline-block;
  top: 5%;
  right: 5%;
  width: 60px;
  height: 34px;
  z-index: 99;
  pointer-events:visible;
}

.sunny {
  position: absolute;
  top: 50%;
  left: -50%;
  transform: translateY(-50%);
}

.night {
  position: absolute;
  top: 50%;
  right: -40%;
  transform: translateY(-50%);
}

/* Hide default checkbox */

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  box-shadow: 0px 3px 5px black;
  margin: 15px;
}

/* The slider (circle container) */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eeeeee; /* color of the slider container on untoggled mode, blue in this case*/
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
  box-shadow: inset 1px 1px 6px black;
}

/* Rounded slider when untoggled */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #f9f9f9; /* color of the slider on untoggled mode */
  filter: drop-shadow(0 0 5px gray);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

/* Toggle effect when the checkbox is checked */
input:checked + .slider {
  background-color: #ccc; /* color of the slider container on toggled mode, light gray in this case*/
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #60646b; /* color of the slider on toggled mode, dark gray in this case*/
  filter: drop-shadow(1px 1px 4px white);
}
